# analysis
scipy
matplotlib
pandas
h5py
scikit-learn
hist[plot]
h5glance
jax
jaxlib
# HEP tooling
pandamonium
xrootd
uproot-browser
# jupyter
notebook
jupyterlab
jupytext
# tooling
pipx
black
pre-commit
isort
# other
imageio
rich
requests
pytubefix
